@media (min-width: 768px) {
  #increment {
    grid-column: 1 / -1;
    width: calc(50% - (var(--space-lg) / 2));
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  #condition {
    grid-column: 3;
  }
}
